*{
    font-family: 'DM Sans';
}
.header{
    background-image: url("./Images/header_image.jpg");
}
html {
    scroll-behavior: smooth;
  }
  
  
  .type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .type:hover{
    transition: transform 0.5s;
    transform: translateY(1rem);
  }